install
{% if config_context["centos_ver"] == "7" %}
url --url {{ config_context["centos_repos"]["7_Base"]["baseurl"] }}
{% elif config_context["centos_ver"] == "8" %}
url --url {{ config_context["centos_repos"]["8_BaseOS"]["baseurl"] }}
{% endif %}
lang en_US.UTF-8
selinux --enforcing
keyboard us
skipx

network --bootproto dhcp --hostname {{ inventory_hostname }} --device={{ interfaces['eth0']['mac_address'] | lower }}

rootpw --iscrypted {{ root_encrypted_password.stdout }}
firewall --service=ssh
authconfig --useshadow --passalgo=sha256 --kickstart
timezone --utc UTC
services --disabled arbrtd,kdump,gpm,sendmail,pcmcia,isdn,rawdevices,hpoj,bluetooth,openibd,avahi-daemon,avahi-dnsconfd,hidd,hplip,pcscd
{% if config_context["centos_ver"] == "7" %}
repo --name="updates" --baseurl={{ config_context["centos_repos"]["7_Updates"]["baseurl"] }}  --cost=100
repo --name="epel" --baseurl={{ config_context["centos_repos"]["7_EPEL"]["baseurl"] }}  --cost=100
repo --name="contrib" --baseurl={{ config_context["centos_repos"]["7_Contrib"]["baseurl"] }} --cost=100
repo --name="Extras" --baseurl={{ config_context["centos_repos"]["7_Extras"]["baseurl"] }} --cost=100
{% elif config_context["centos_ver"] == "8" %}
repo --name="Appstream" --baseurl={{ config_context["centos_repos"]["8_AppStream"]["baseurl"] }}  --cost=100
repo --name="Extras" --baseurl={{ config_context["centos_repos"]["8_extras"]["baseurl"] }} --cost=100
repo --name="epel" --baseurl={{ config_context["centos_repos"]["8_epel"]["baseurl"] }}  --cost=100
{% endif %}

bootloader --location=mbr --driveorder=sdc,sdb,sda --append="nofb net.ifnames=0 biosdevname=1 {% for intf in interfaces -%}ifname={{intf}}:{{ interfaces[intf].mac_address | lower }} {% endfor %} quiet splash=quiet"

zerombr
clearpart --all --initlabel

part / --fstype=ext4 --size=1 --grow --asprimary --ondisk=sda
part swap --size=4096 --asprimary --ondisk=sda

text
reboot
eula --agreed
%packages
# Most of the packages between CentOS 7 and 8 are identical but here is where we put down the differences
{% if config_context["centos_ver"] == "7" %}
@^minimal
@core

{% elif config_context["centos_ver"] == "8" %}
@^minimal-environment

{% endif %}

# Now all of the common packages that we always use
python3
kexec-tools
dnf
biosdevname
net-tools
easy-rsa
wget
vim-enhanced
dos2unix
unix2dos
ntfs-3g
stunnel
tcpdump
setools
screen
%end


%post

#update local time
echo "updating system time"
/usr/sbin/ntpdate -sub
/usr/sbin/hwclock --systohc

sync

%end
