DEFAULT install
MENU TITLE CentOS Install
NOHAULT 1
PROMPT 0
LABEL install
  KERNEL images/centos/{{ config_context["centos_ver"] }}/vmlinuz
  INITRD images/centos/{{ config_context["centos_ver"] }}/initrd.img
  APPEND ks=http://{{ config_context["tftp_host"] }}/{{ interfaces['eth0']['mac_address'] | regex_replace(':','-') | lower }}.cfg biosdevname=0 ksdevice=eth0 {% for intf in interfaces -%}ifname={{intf}}:{{ interfaces[intf].mac_address | lower }} {% endfor %}
