set timeout=0
menuentry 'CentOS Install' {
  initrdefi images/centos/{{ config_context["centos_ver"] }}/initrd.img
  linuxefi images/centos/{{ config_context["centos_ver"] }}/vmlinuz inst.ks=http://{{ config_context["tftp_host"] }}/{{ interfaces['eth0']['mac_address'] | regex_replace(':','-') | lower }}.cfg ksdevice=eth0 biosdevname=0 {% for intf in interfaces -%}ifname={{intf}}:{{ interfaces[intf].mac_address | lower }} {% endfor %}
